 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
 
 .main{
     text-align: center;
     padding:2em;
     line-height: 1.95;
  }
  
  h1{
      background-color:#778ca3;
  }
  #user{
      background:#45aaf2;
  }
  #btn{
      padding:1em 2.8em 1em 2.8em;
      background:linear-gradient(to top right,#eb4d4b 40%,#686de0 60%);
      color:#ffff;
  }
  

 